<%= render 'navbar' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center page-header">Kappa Delta Chi's 14th Annual Kickball Tournament</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <%= image_tag('my-work/kickball/kickball-cute.jpg', :alt => 'Kickball Kim and I', class: 'img-responsive') %>
      <br class="mobile">
    </div>
    <div class="col-md-3">
      <%= image_tag('my-work/kickball/kickball-GB.jpg', :alt => 'Kickball Gamma Beta', class: 'img-responsive') %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2 col-md-offset-3">
      <%= image_tag('my-work/kickball/kickball-booth-32.jpg', :alt => 'Kickball me', class: 'img-responsive') %>
      <br class="mobile">
    </div>
    <div class="col-md-2">
      <%= image_tag('my-work/kickball/kickball-kick-75.jpg', :alt => 'Kickball kick', class: 'img-responsive buffer') %>
      <br class="mobile">
      <%= image_tag('my-work/kickball/kickball-team-75.jpg', :alt => 'Kickball team', class: 'img-responsive') %>
      <br class="mobile">
    </div>
    <div class="col-md-2">
      <%= image_tag('my-work/kickball/kickball-bailey-32.png', :alt => 'Kickball Bailey', class: 'img-responsive') %>
    </div>
  </div>
  
  <br><br>
  <div class="row desktop">
    <div class="col-md-6 col-md-offset-3 about-buttons">
      <%= link_to "GO BACK", my_work_path, class: 'btn btn-about' %>
      <div class="button-spacer"></div>
      <%= link_to "VIEW EVENT VERIFICATION FORM", asset_path("kickball.pdf"), class: 'btn btn-about' %>
    </div>
  </div>
  <div class="mobile">
    <div class="gallery-buttons">
      <%= link_to "VIEW EVENT VERIFICATION FORM", asset_path("kickball.pdf"), class: 'btn btn-about' %>
    </div>
    <br>
    <div class="gallery-buttons">
      <%= link_to "GO BACK", my_work_path, class: 'btn btn-about' %>
    </div>
  </div>
  <%= render 'footer' %>
</div>