<div class="row row-top">
  <div class="col-md-6 col-md-offset-3">
    <p>
      Contact Me </br>
      682-552-6077 </br>
      margie.trame@gmail.com
    </p>
  </div>
</div>
<div class="row row-bot text-center">
  <%= link_to "MOUNTAIN VIEW RETREAT CENTER", mountain_view_retreat_center_path, class: 'footer-link foot-start' %>
  <%= link_to "FREEDOMFEST", freedomfest_path, class: 'footer-link' %>
  <%= link_to "BBQ 2017", bbq_2017_path, class: 'footer-link' %>
  <%= link_to "JUDO COMPETITION", judo_competition_path, class: 'footer-link' %>
  <%= link_to "KICKBALL 2017", kickball_2017_path, class: 'footer-link' %>
</div>