<%= render 'navbar' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-3 img-container">
      <%= image_tag("about-me-profile-sq.jpg", :alt => "My profile picture!", class: 'img-responsive') %>
    </div>
    <div class="col-md-3">
      <h2 class="page-header">About Me</h2>
      <p>Howdy!</p>
      <p>My name is Margaret Ann Trame, and I am a junior at Texas A&M University 
      studying Recreation, Park and Tourism Sciences with a focus in Tourism Management. 
      I am currently pursuing a certification in Professional Event Management 
      as well as a Hospitality certificate. Please click the links below to get 
      an idea of the types of events I have contributed to and the work I have 
      been involved in. </p>
      <p>Thanks & Gig 'Em!</p>
      <div class="about-buttons">
        <%= link_to "VIEW MY WORK", my_work_path, class: 'btn btn-about' %>
      </div>
      </br>
      <div class="about-buttons">
        <%= link_to "VIEW MY RESUME", asset_path("resume.pdf"), class: 'btn btn-about' %>
      </div>
    </div>
  </div>
  <%= render 'footer' %>
</div>