<%= render 'navbar' %>

<div class="container-fluid my-work">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center page-header">My Work</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>
        <strong>Hands-on Event Experience</strong>
      </h3>
      <p>Below are four major events I played a critical role in during the Spring 2017 semeseter</p>
    </div>
  </div>
  
  <!-- Events -->
  <div class="row desktop" id="kickball-group">
    <div class="col-md-2 col-md-offset-3 work-thumb-container">
      <%= image_tag('my-work/kickball/kickball-logo.jpg', :alt => 'Kickball Logo', class: 'img-responsive') %>
      <p class="date">February 25, 2017</p>
      <%= link_to "SEE MORE", kickball_2017_path, class: 'btn btn-work' %>
    </div>
    <div class="col-md-4">
      <p class="title">KAPPA DELTA CHI'S 14th ANNUAL KICKBALL TOURNAMENT</p>
      <p>This annual fundraising event is hosted by my sorority to raise funds for 
      our philanthropy, The American Cancer Society. This year, we take great pride 
      in raising an all-time record of $2,300 for the society. Through this event, 
      I served as an assistant event coordinator. In this position, I supervised 
      volunteers, maintained all forms and waivers, implemented rules and regulations, maintained the tournament bracket, 
      and handle any risks that occurred.</p>
    </div>
  </div>
  <div class="mobile">
    <p class="title">KAPPA DELTA CHI'S 14th ANNUAL KICKBALL TOURNAMENT</p>
    <%= image_tag('my-work/kickball/kickball-logo.jpg', :alt => 'Kickball Logo', class: 'img-responsive') %>
    <p class="date">February 25, 2017</p>
    <p>This annual fundraising event is hosted by my sorority to raise funds for 
      our philanthropy, The American Cancer Society. This year, we take great pride 
      in raising an all-time record of $2,300 for the society. Through this event, 
      I served as an assistant event coordinator. In this position, I supervised 
      volunteers, maintained all forms and waivers, implemented rules and regulations, maintained the tournament bracket, 
      and handle any risks that occurred.</p>
    <%= link_to "SEE MORE", kickball_2017_path, class: 'btn btn-work' %>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr class="divider-1"/>
    </div>
  </div>
  
  <div class="row desktop" id="judo-group">
    <div class="col-md-2 col-md-push-4 col-md-offset-3 work-thumb-container">
      <%= image_tag('my-work/judo/judo-armbar.jpg', :alt => 'Judo Armbar', class: 'img-responsive') %>
      <p class="date text-right">March 11, 2017</p>
      <%= link_to "SEE MORE", judo_competition_path, class: 'btn btn-work pull-right' %>
      <br><br>
    </div>
    <div class="col-md-4 col-md-pull-2">
      <p class="title">2017 NATIONAL COLLEGIATE JUDO CHAMPIONSHIP</p>
      <p>This spring, Texas A&M University hosted the 2017 National Collegiate Judo 
      Championship on our campus. The event showcased and awarded these athletes' 
      incredible strength, skillset, and grace. Through this event, I handled cash transactions, learned how to work 
      with people I have never met before, and gained insight on an unfamiliar format of sports 
      tournaments.</p>
    </div>
  </div>
  <div class="mobile">
    <p class="title">2017 NATIONAL COLLEGIATE JUDO CHAMPIONSHIP</p>
    <%= image_tag('my-work/judo/judo-armbar.jpg', :alt => 'Judo Armbar', class: 'img-responsive') %>
    <p class="date">March 11, 2017</p>
    <p>This spring, Texas A&M University hosted the 2017 National Collegiate Judo 
      Championship on our campus. The event showcased and awarded these athletes' 
      incredible strength, skillset, and grace. Through this event, I handled cash transactions, learned how to work 
      with people I have never met before, and gained insight on an unfamiliar format of sports 
      tournaments.</p>
      <%= link_to "SEE MORE", judo_competition_path, class: 'btn btn-work' %>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr class="divider-1"/>
    </div>
  </div>
  
  <div class="row desktop" id="bbq-group">
    <div class="col-md-2 col-md-offset-3 work-thumb-container">
      <%= image_tag('my-work/bbq/bbq-flyer.jpg', :alt => 'BBQ Flyer', class: 'img-responsive') %>
      <p class="date">April 23, 2017</p>
      <%= link_to "SEE MORE", bbq_2017_path, class: 'btn btn-work' %>
    </div>
    <div class="col-md-4">
      <p class="title">KAPPA DELTA CHI'S 15TH ANNUAL CARMELA IZAGUIRRE MEMORIAL SCHOLARSHIP FUNDRAISER</p>
      <p>This barbecue fundraising event raises money for two scholarships that are 
      given out to two local high school seniors to help pay for a higher-education. 
      The scholarships were put in place to honor the passing of our sorority sister, 
      Carmela Izaguirre, who always displayed determination and passion for education 
      and had a heart for giving back to the community. Through this event, I learned 
      the importance of attaining all necessary permits for an event, the process of 
      gaining a food handler's license, and exercised my customer service skills.</p>
    </div>
  </div>
  <div class="mobile">
    <p class="title">KAPPA DELTA CHI'S 15TH ANNUAL CARMELA IZAGUIRRE MEMORIAL SCHOLARSHIP FUNDRAISER</p>
    <%= image_tag('my-work/bbq/bbq-flyer.jpg', :alt => 'BBQ Flyer', class: 'img-responsive') %>
    <p class="date">April 23, 2017</p>
    <p>This barbecue fundraising event raises money for two scholarships that are 
      given out to two local high school seniors to help pay for a higher-education. 
      The scholarships were put in place to honor the passing of our sorority sister, 
      Carmela Izaguirre, who always displayed determination and passion for education 
      and had a heart for giving back to the community. Through this event, I learned 
      the importance of attaining all necessary permits for an event, the process of 
      gaining a food handler's license, and exercised my customer service skills</p>
    <%= link_to "SEE MORE", bbq_2017_path, class: 'btn btn-work' %>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr class="divider-1"/>
    </div>
  </div>
  
  <div class="row desktop" id="soup-group">
    <div class="col-md-2 col-md-push-4 col-md-offset-3 work-thumb-container">
      <%= image_tag('my-work/soup/soup-logo.png', :alt => 'Soupsgiving Logo', class: 'img-responsive') %>
      <p class="date text-right">November 19, 2017</p>
      <%= link_to "SEE MORE", "#", class: 'btn btn-work pull-right' %>
      <br><br>
    </div>
    <div class="col-md-4 col-md-pull-2">
      <p class="title">SOUPSGIVING 2017</p>
      <p>As a class project, my group hosted the first annual Soupsgiving event at 
      Veterans Park! This fun-filled community event included a kids zone, games, 
      live music, arts & crafts, vendors, a canned food drive, and most importantly, 
      a soup cook-off competition with awesome prizes! For this event, I served as 
      the Execution Team Leader as well as the head contact for vendors. Our team 
      determined all activities, decorations, performers, timelines, site maps, judges, 
      and more for this event. We successfully raised over 1,200 canned food items 
      for the Brazos Valley Food Bank and attracted approximately 150 attendees.</p>
    </div>
  </div>
  <div class="mobile">
    <p class="title">SOUPSGIVING 2017</p>
    <%= image_tag('my-work/soup/soup-logo.png', :alt => 'Soupsgiving Logo', class: 'img-responsive') %>
    <p class="date">November 19, 2017</p>
    <p>>As a class project, my group hosted the first annual Soupsgiving event at 
      Veterans Park! This fun-filled community event included a kids zone, games, 
      live music, arts & crafts, vendors, a canned food drive, and most importantly, 
      a soup cook-off competition with awesome prizes! For this event, I served as 
      the Execution Team Leader as well as the head contact for vendors. Our team 
      determined all activities, decorations, performers, timelines, site maps, judges, 
      and more for this event. We successfully raised over 1,200 canned food items 
      for the Brazos Valley Food Bank and attracted approximately 150 attendees.</p>
      <%= link_to "SEE MORE", "#", class: 'btn btn-work' %>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr class="divider-2"/>
    </div>
  </div>
  
  <!-- Divide between events and programs -->
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>
        <strong>Program Planning Experience</strong>
      </h3>
      <p>Below are documents containing programs I have personally designed within my courses.</p>
    </div>
  </div>
  
  <!-- Programs -->
  <div class="row desktop" id="mvrc-group">
    <div class="col-md-2 col-md-offset-3 work-thumb-container">
      <%= image_tag('my-work/mvrc/mvrc-logo.jpg', :alt => 'Mountain View Retreat Center Logo', class: 'img-responsive') %>
      <p class="date">February 25, 2017</p>
      <%= link_to "SEE MORE", mountain_view_retreat_center_path, class: 'btn btn-work' %>
    </div>
    <div class="col-md-4">
      <p class="title">MOUNTAIN VIEW RETREAT CENTER</p>
      <p>In my Fall 2016 semester, I submitted a Comprehensive Program Plan with 
      a corporate design of an original company idea: Mountain View Retreat Center. 
      In this document, I extensively described all aspects and details of a program 
      plan for a Beer & Wine Festival titled: the Movin' Mountain Beer & Wine Festival.</p>
    </div>
  </div>
  <div class="mobile">
    <p class="title">MOUNTAIN VIEW RETREAT CENTER</p>
    <%= image_tag('my-work/mvrc/mvrc-logo.jpg', :alt => 'Mountain View Retreat Center Logo', class: 'img-responsive') %>
    <p class="date">February 25, 2017</p>
    <p>In my Fall 2016 semester, I submitted a Comprehensive Program Plan with 
    a corporate design of an original company idea: Mountain View Retreat Center. 
    In this document, I extensively described all aspects and details of a program 
    plan for a Beer & Wine Festival titled: the Movin' Mountain Beer & Wine Festival.</p>
    <%= link_to "SEE MORE", mountain_view_retreat_center_path, class: 'btn btn-work' %>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr class="divider-1"/>
    </div>
  </div>
  
  <div class="row desktop" id="freedomfest-group">
    <div class="col-md-2 col-md-push-4 col-md-offset-3 work-thumb-container">
      <%= image_tag('my-work/freedomfest/freedomfest-logo.jpg', :alt => 'Freedomfest Logo', class: 'img-responsive') %>
      <p class="date text-right">March 11, 2017</p>
      <%= link_to "SEE MORE", freedomfest_path, class: 'btn btn-work pull-right' %>
    </div>
    <div class="col-md-4 col-md-pull-2">
      <p class="title">FREEDOMFEST AT MILLICAN RESERVE</p>
      <p>In my Spring 2017 semester, I worked diligently with a team of 8 to develop 
      a program plan for a 4th of July event to be hosted at a local venue, Millican Reserve. 
      The head event coordinator gave my team free range to design an original event within a 
      specified budget. Thus, Freedomfest was born.</p>
    </div>
  </div>
  <div class="mobile">
    <p class="title">FREEDOMFEST AT MILLICAN RESERVE</p>
    <%= image_tag('my-work/freedomfest/freedomfest-logo.jpg', :alt => 'Freedomfest Logo', class: 'img-responsive') %>
    <p class="date text-right">March 11, 2017</p>
    <p>In my Spring 2017 semester, I worked diligently with a team of 8 to develop 
    a program plan for a 4th of July event to be hosted at a local venue, Millican Reserve. 
    The head event coordinator gave my team free range to design an original event within a 
    specified budget. Thus, Freedomfest was born.</p>
    <%= link_to "SEE MORE", freedomfest_path, class: 'btn btn-work' %>
  </div>
  
  <%= render 'footer' %>
  
</div>